<section id='post'>
  <%= link_to "<-- Back to user's profile", user_url(@post.author)%>
  <div id='post-card-full'>
    <div id='post-header'>
      <h2>"<%= @post.title %>" by <%= @post.author.name %></h2>
      <p> <%= @post.comments_counter%> comments, <%= @post.likes_counter%> likes </p>
    </div>
    <p><%= @post.text %></p>
  </div>

  <div id='comments'>
    <% @comments.includes(:author).each do |comment| %>
      <p> <%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
  <%= render "comments/comment_form" %>
  <%= form_with url: user_post_likes_url(@user, @post), method: 'post' do |form| %>
    <% form.submit 'Like' %>
  <% end %>
</section>